node-red flow.json
[{"id":"14958e12.65ae82","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6830096.9b5","type":"ibmiot out","z":"14958e12.65ae82","d":true,"authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"300920","deviceType":"NodeMCU","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":660,"wires":[]},{"id":"fecbc8b6.988818","type":"ui_gauge","z":"14958e12.65ae82","name":"","group":"802ad4a0.4671f8","order":0,"width":0,"height":0,"gtype":"compass","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":320,"wires":[]},{"id":"2cfd6069.1f477","type":"ui_gauge","z":"14958e12.65ae82","name":"","group":"802ad4a0.4671f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":360,"wires":[]},{"id":"2cbb95fd.edecca","type":"ui_gauge","z":"14958e12.65ae82","name":"","group":"802ad4a0.4671f8","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":400,"wires":[]},{"id":"c34de19.d82262","type":"ui_gauge","z":"14958e12.65ae82","name":"","group":"802ad4a0.4671f8","order":3,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":440,"wires":[]},{"id":"76d556fc.e2e7e8","type":"debug","z":"14958e12.65ae82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"9d44e6c.37d1c18","type":"function","z":"14958e12.65ae82","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":260,"wires":[["76d556fc.e2e7e8","fecbc8b6.988818","2cfd6069.1f477","2cbb95fd.edecca","c34de19.d82262"]]},{"id":"7b256608.cd5cc8","type":"function","z":"14958e12.65ae82","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":460,"wires":[["76d556fc.e2e7e8","847c1073.d8403"]]},{"id":"323e6e82.6cc092","type":"function","z":"14958e12.65ae82","name":"Soilmoisture","func":"msg.payload = msg.payload.d.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["76d556fc.e2e7e8"]]},{"id":"847c1073.d8403","type":"ui_gauge","z":"14958e12.65ae82","name":"","group":"790db2f9.1c9cdc","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":500,"wires":[]},{"id":"14ea8c12.4a0534","type":"ui_template","z":"14958e12.65ae82","group":"790db2f9.1c9cdc","name":"","order":1,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n</head>\n<body>\n\n<h1>This is a Heading</h1>\n<p>This is a paragraph.</p>\n\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":370,"y":540,"wires":[[]]},{"id":"ec312f79.91852","type":"ibmiot out","z":"14958e12.65ae82","authentication":"apiKey","apiKey":"f24a9c89.f3143","outputType":"cmd","deviceId":"9876543210","deviceType":"NodeMCU","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":730,"y":560,"wires":[]},{"id":"51fa9c39.ee0964","type":"ui_button","z":"14958e12.65ae82","name":"","group":"790db2f9.1c9cdc","order":2,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":250,"y":600,"wires":[["f6830096.9b5","ec312f79.91852"]]},{"id":"325ca38e.b3443c","type":"ui_button","z":"14958e12.65ae82","name":"","group":"790db2f9.1c9cdc","order":3,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":250,"y":660,"wires":[["f6830096.9b5","ec312f79.91852"]]},{"id":"6287a297.9726fc","type":"ibmiot in","z":"14958e12.65ae82","authentication":"apiKey","apiKey":"1aa2cb31.695ca5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"300920","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":320,"wires":[["9d44e6c.37d1c18","323e6e82.6cc092"]]},{"id":"802ad4a0.4671f8","type":"ui_group","z":"","name":"temperature 4","tab":"55d06471.57c1bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"790db2f9.1c9cdc","type":"ui_group","z":"","name":"humidity","tab":"4366fdcc.0fd924","order":1,"disp":true,"width":"6","collapse":false},{"id":"f24a9c89.f3143","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"2s6bsj.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1aa2cb31.695ca5","type":"ibmiot","z":"","name":"NodeMCU","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"55d06471.57c1bc","type":"ui_tab","z":"","name":"ned rode","icon":"dashboard","disabled":false,"hidden":false},{"id":"4366fdcc.0fd924","type":"ui_tab","z":"","name":"new humidity tab","icon":"dashboard","disabled":false,"hidden":false}]